###### Requirements without Version Specifiers ######
argparse
deepspeed
'''
deepspeed 패키지 설치 오류가 발생한다면 nvcc -V 커맨드 확인 후,
not found error라면 nvidia toolkit을 설치해야 합니다.
'''

###### Requirements with Version Specifiers ######
pandas
scikit-learn
transformers
torch==1.13.1
wandb==0.16.1
pytorch-lightning==2.1.3
